
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: url('./pxfuel.jpg') center center no-repeat;
  background-size: cover;
  background-color:cadetblue;
}

#quote-box {
  max-width: 500px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #f8f8f8; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

q {
  font-size: 28px; 
  margin: 0 0 20px; 
  color: #444; 
}

p {
  font-size: 20px;
  margin: 0;
  color: #666; 
}

button {
  font-size: 18px;
  background-color:#666;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

#tweet-quote>button {
  margin-left: 10px;
}

#new-quote {
  margin-right: 10px;
}

button:hover {
  background-color:cadetblue; 
}


